@import url(https://fonts.googleapis.com/css?family=Fjalla+One);
@import url(https://fonts.googleapis.com/css?family=News+Cycle);

html, body, div, span, h1, h2, h3, h4, h5, h6, p, ol, ul, li, form, label, legend, caption, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { 
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	vertical-align: baseline;
}

body {
  background-color: #f5f5f5;
}

#container {
  margin-left: 430px;
  margin-top: 100px;
  background:#fff;
  display:block;
  max-width:1045px;
  height:695px;
  width:100%;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -o-border-radius: 15px;
  -webkit-box-shadow:0px 5px 80px #d8d8d8;
  -moz-box-shadow:0px 5px 80px #d8d8d8;
  -o-box-shadow:0px 5px 80px #d8d8d8;
  box-shadow:0px 5px 80px #d8d8d8;
}

#product-img{
  float:left;
  text-align:center;
  width:35%;
  height:88%;
  padding:4% 0;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#6bfec8), to(#41c8ca));
  background: -webkit-linear-gradient(top, #222, #fff);
  background: -moz-linear-gradient(top, #222, #fff);
  background: -ms-linear-gradient(top, #222, #fff);
  background: -o-linear-gradient(top, #222, #fff);
  border-radius: 15px 0 0 15px;
  -webkit-border-radius: 15px 0 0 15px;
  -moz-border-radius: 15px 0 0 15px;
  -o-border-radius: 15px 0 0 15px;
  position:relative;
}

#product-info{
  padding:5%;
  width:55%;
  float:left;
  height:85%;
}

h1,h2,h3,h4{
  font-family: 'Fjalla One', Helvetica, Arial sans-serif;
  font-weight:normal;
  text-transform:uppercase;
}

h1{
  font-size:41px;
  line-height:41px;
  margin-bottom:15px;
  color:#444;
}
h2{
  font-size:17px;
  line-height:17px;
  margin-bottom:15px;
  color:#bbb;
}

h3{
  display:inline-block;
  font-size:21px; 
  line-height:21px;
  margin-right:10px;
  color:#444;
}

h3::before{
  content: "$";
}

h4{
  color:#444;
  font-size:17px;
  margin-bottom:15px;
}

p{
  font-family: 'News Cycle', Helvetica, Arial sans-serif;
  font-size:16px;
  color:#b1b1b1;
  line-height:27px;
  font-weight:normal;
  letter-spacing:1px;
  margin:0 0 60px 0;
}

.jumper{
  width:100%;
  margin-top:100px;
}


#product-spec{
  width:70%;
  margin-bottom:60px;
}

.wrapper{
  float:left;
  display:block;
}

.button{
  font-size:23px; 
  line-height:70px;
  height:70px;
  letter-spacing:1px;
  padding:5px 32px;
  color:#fff;
  font-family: 'Fjalla One', Helvetica, Arial sans-serif;
  font-weight:normal;
  text-transform:uppercase;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ff876a), to(#ff4064));
  border-radius: 10px;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  -o-border-radius:10px;
  -webkit-box-shadow:5px 5px 30px #ed949e;
  -moz-box-shadow:5px 5px 30px #ed949e;
  -o-box-shadow:5px 5px 30px #ed949e;
  box-shadow:5px 5px 30px #ed949e;
  display:inline-block;
}

.button:hover{
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ff876a), to(#db3652));
  background: -webkit-linear-gradient(top, #ff876a, #db3652);
  background: -moz-linear-gradient(top, #ff876a, #db3652);
  background: -ms-linear-gradient(top, #ff876a, #db3652);
  background: -o-linear-gradient(top, #ff876a, #db3652);
}

.shopping-cart{
  margin-right:20px;
  width:32px;
  height:32px;
  vertical-align: middle;
}

#color{
  max-width:220px;
  min-height:70px;
  border-right:2px solid #ededed;
}



label {
  width: 24px;
  margin-right:14px;
}

input.radio:empty {
	margin-left: -9999px;
  display:none;
}

input.radio:empty ~ label {
	position: relative;
	float: left;
	line-height: 24px;
	text-indent: 3.25em;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

input.radio:empty ~ label:before {
	position: absolute;
	display: block;
	top: 0;
	bottom: 0;
	left: 0;
	content: '';
	width: 24px;
  height:24px;
	background: #cccccc;
	border-radius: 50px;
  border:4px solid #FFF;
}

/* toggle on */
input.radio:checked ~ label:before {
	content:'';
}

input#radio1 ~ label:before {
	background-color: #DED4D2;
  margin-left:2px;
}

#radio1:checked~ label:before {
	-webkit-box-shadow: 0px 0px 0px 1px #59e8c8;
  -moz-box-shadow: 0px 0px 0px 1px #59e8c8;
  box-shadow: 0px 0px 0px 1px #59e8c8;
}

input#radio2 ~ label:before {
	background-color: #ffee71;
}

#radio2:checked~ label:before {
	-webkit-box-shadow: 0px 0px 0px 1px #ffee71;
  -moz-box-shadow: 0px 0px 0px 1px #ffee71;
  box-shadow: 0px 0px 0px 1px #ffee71;
}

input#radio3 ~ label:before {
	background-color: #6654af;
}

#radio3:checked~ label:before {
	-webkit-box-shadow: 0px 0px 0px 1px #6654af;
  -moz-box-shadow: 0px 0px 0px 1px #6654af;
  box-shadow: 0px 0px 0px 1px #6654af;
}

input#radio4 ~ label:before {
	background-color: #343434;
}

#radio4:checked~ label:before {
	-webkit-box-shadow: 0px 0px 0px 1px #343434;
  -moz-box-shadow: 0px 0px 0px 1px #343434;
  box-shadow: 0px 0px 0px 1px #343434;
}

input#radio5 ~ label:before {
	background-color: #dfdfdf;
}

#radio5:checked~ label:before {
	-webkit-box-shadow: 0px 0px 0px 1px #dfdfdf;
  -moz-box-shadow: 0px 0px 0px 1px #dfdfdf;
  box-shadow: 0px 0px 0px 1px #dfdfdf;
}

@-webkit-keyframes fadeIn { from { opacity:0; top:-5% } to { opacity:1; top:0%; } }
@-moz-keyframes fadeIn { from { opacity:0; top:-5% } to { opacity:1; top:0%; } }
@keyframes fadeIn { from { opacity:0; top:-5% } to { opacity:1; top:0%;  } }

.fade-in {
  opacity:0;  
  -webkit-animation:fadeIn ease-in-out .1s;  
  -moz-animation:fadeIn ease-in-out .1s;
  -o-animation:fadeIn ease-in-out .1s;
  animation:fadeIn ease-in-out .1s;

  -webkit-animation-fill-mode:forwards; 
  -moz-animation-fill-mode:forwards;
  -o-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:.5s;
  -moz-animation-duration:.5s;
  -o-animation-duration:.5s;
  animation-duration:.5s; 
}

.fade-in.one {
  -webkit-animation-delay: .5s;
  -moz-animation-delay: .5s;
  -o-animation-delay: .5s;
  animation-delay: .5s;
}
